_build.*
*.dylib
*.o
*.os
*.pyc
*.so
.sconf_temp
.sconsign.dblite
config.log
.sconsign.dblite
config.log
.sconf_temp
doc/*.tag
doc/html
doc/xml
doc/doxygen.conf
doc/htmlDir
tests/.tests
ups/*.cfgc
python/lsst/meas/extensions/photometryKron/version.py
