*.dylib
*.o
*.os
*.pyc
*.so
.sconf_temp
.sconsign.dblite
config.log
.sconsign.dblite
config.log
.sconf_temp
doc/htmlDir
python/lsst/meas/extensions/photometryKron/kronLib.py
python/lsst/meas/extensions/photometryKron/kronLib_wrap*
tests/.tests
ups/*.cfgc
python/lsst/meas/extensions/photometryKron/version.py
